//- The main view, which prints out the World zone
//- and lists some shared styles.

!!! xml
kml(xmlns="http://www.opengis.net/kml/2.2")
  
  Folder(id="guifi-#{dumpedZone.$.id}")
    name= dumpedZone.$.title
    Snippet
    description.
      <![CDATA[<p>
        <a href="http://guifi.net/node/#{dumpedZone.$.id}">#{dumpedZone.$.title}</a>.
      </p>]]>
      #{dumpedZone._}

    Style
      ListStyle
        listItemType checkOffOnly //FIXME
        ItemIcon: href world.png
    
    visibility 0
    
    //- let the fun start!
    include zone
    mixin dumpChildren(dumpedZone)
  

  
  Style#guifiZoneStyle
    // just in case we wanna add something later
  
  Style#guifiZoneLinksStyle
    // just in case we wanna add something later
  
  Style#guifiNodeLinksStyle
    // just in case we wanna add something later

