//- The main view, which prints out the dumped zone
//- (usually World) and lists some shared styles.

!!! xml
kml(xmlns="http://www.opengis.net/kml/2.2")

  // Some shared styles

  Style#guifiZoneStyle
    // just in case we wanna add something later
  
  Style#guifiZoneLinksStyle
    // just in case we wanna add something later
  
  Style#guifiNodeLinksStyle
    // just in case we wanna add something later


  // The actual content

  Folder(id="guifi-#{dumpedZone.$.id}")
    name= dumpedZone.$.title
    Snippet
    description.
      <![CDATA[<p>
        <a href="http://guifi.net/node/#{dumpedZone.$.id}">#{dumpedZone.$.title}</a>.
      </p>]]>
      #{dumpedZone._}

    Style
      ListStyle
        ItemIcon: href world.png
    
    //- let the fun start!
    include zone
    mixin dumpChildren(dumpedZone)

